# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
android/local.properties
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/key.properties
android/app/google-services.json
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Env / secrets (ne jamais versionner les vraies clés)
env.json

# OS
.DS_Store
Thumbs.db
